/*

   component.css

   <Flat Metro Theme>

   

   Created by Rachid on 2013-09-04.

   Copyright 2013 Rachid. All rights reserved.

   www.webdevia.com



*/

/* General style functions */

::-webkit-scrollbar {

  width: 12px;

}

::-webkit-scrollbar-track {

  background: rgba(0,0,0,0.2); 

}

::-webkit-scrollbar-thumb {

  background: rgba(0,0,0,0.5);

}

::-webkit-scrollbar-thumb:window-inactive {

  background: rgba(0,0,0,0.4); 

}

html, body { 

  height: 100%; 

  min-height: 100%;

  font-family: "Titillium Web","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;

  color: #FFF;

  background-color:#4390df;

}

h1, h2, h3, h4, h5 {

font-family: "Titillium Web","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;

font-weight: 300;

color: #FFF;

}

p {

  font-size: 16px;

  line-height: 1.4em;

}

a {

  color: #FFF;

}

blockquote {

  border-left: 1px solid rgba(255,255,255,.5);

  margin: 0 0 1.25em 1.2em;

  font-family: 'Droid Serif', Georgia, 'Times New Roman', Times, serif;

  font-style: italic;

}

blockquote, 

blockquote p {

  color: #FFF;

  font-size: 1em;

  line-height: 1.6;

  text-align: left;

}

blockquote p {

  padding-bottom: 8px;

}

blockquote small {

  color:#fff;

}

figure {

  margin: 0;

}

input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {

background-color: #888;

background-color: rgba(0, 0, 0, 0.15);

border: medium none;

box-shadow: none;

color: #FFF;

padding: 5px 10px;

}

.row {

  margin-left:-30px ;

  margin-right:0;

}

#rt-top-surround {

        text-shadow:none;

        background:none;

        border-bottom:none;

-webkit-box-shadow:none;

        box-shadow:none;

}

#rt-drawer {

    border-bottom:none;

}

.rt-top .rt-block {

    margin:10px 10px 0;

    padding:10px;

}

body [class*="rt-grid"] {position: static}

.rt-container {

  position:static;

}

.rt-container .rt-block {

  position: static;

  padding: 15px 0;

}

.menu-list {

    margin:0;

    padding:0;

}

.no-margin {

  margin:0 !important;

}

.no-padding {

  padding:0 !important;

}

.no-border {

  border:none !important;

}

.text-left {

  text-align:left; 

}

.text-right {

  text-align:right; 

}

.text-center {

  text-align:center; 

}

/* Color boxes */

.readon {

  font-size: 1.5em;

  padding:1em 1.5em;

  background: #ac193d !important;

  box-shadow: none;

  border-radius:0;

  border:1px solid transparent;

  text-shadow:none;

  line-height: 1;

}

.readon:hover {

background-image: none;

background-color:transparent !important;

border: 1px solid #fff;

}



/*Menu style*/



/* General styles for all menus */

ul.menu li.active.current > a:before, 

ul.menu li.active.current > .item:before, 

ul.menu li.active.current > .separator:before, 

ul.menu li#current.active > a:before, 

ul.menu li#current.active > .item:before, 

ul.menu li#current.active > .separator:before {

content:"";

margin-right:0;

} 

.vertical-menu {

          height: 100%;

          top: 0;

          right:0;

          width: 332px;

          z-index: 1000;

  -webkit-transition: all 0.3s ease;

     -moz-transition: all 0.3s ease;

       -o-transition: all 0.3s ease;

          transition: all 0.3s ease;

          background: none repeat scroll 0 0 #1F0068;

          position: fixed;

          padding: 0;

}

.vertical-menu h3 {

  padding: 40px 0 20px 35px;

}

.vertical-menu a {

    padding: 10px 0;

    color: #FFFFFF;

    display: block;

    font-size: 1.3em;

    font-weight: 300;

} 

.vertical-menu .show-menu {

  border: none;

  padding: 10px 3px 2px 6px;

  position: absolute;

  right: 4px;

  top: 15px;

}

.show-menu, .link-back {

    cursor: pointer;

}

.vertical-menu .remove {

  background: no-repeat url(../images/close.gif);

  padding: 0 11px;

}

.back[class^="icon-"] {

  border: 2px solid #FFF;

  border-radius: 50% 50% 50% 50%;

  color: #FFF;

  height: 77px;

  margin: 0 1px;

  padding: 7px 9px;

  text-shadow: 0 0 0;

  width: 74px;

  line-height: 60px;

} 

nav.vertical-menu li a {

  padding: 10px 38px 10px 30px;

  color: #FFFFFF;

  display: block;

  font-size: 1.2em;

  font-weight: 300;

}

.nav > li > a:hover,

.nav > li > a.active {

  background: #4718B6;

}

.nav > li span[class^="icon-"],.nav > li span[class*=" icon-"] {

  display: inline-block;

  min-width: 20px;

  width: 20px;

  margin-right: 11px;

  text-align: center;

  padding: 11px;

  -webkit-box-shadow: 0 0 2px rgba(255,255,255, .3) inset;

     -moz-box-shadow: 0 0 2px rgba(255,255,255, .3) inset;

          box-shadow: 0 0 2px rgba(255,255,255, .3) inset;

}

.tertiary-nav {

  list-style-type:none;

  float:right;

}

ul.tertiary-nav li.active.current > a, 

ul.tertiary-nav li.active.current > .item, 

ul.tertiary-nav li.active.current > .separator, 

ul.tertiary-nav li#current.active > a, 

ul.tertiary-nav li#current.active > .item, 

ul.tertiary-nav li#current.active > .separator {

  color:#fff;

}

ul.tertiary-nav li a, 

ul.tertiary-nav li .item, 

ul.tertiary-nav li .separator {

  display:block;

}

.tertiary-nav li { display:inline-block; }

ul.tertiary-nav li a {padding:15px 30px;margin-left:10px;text-align:center;font-size:0.75em;font-weight:normal;background:#F87912;}

.tertiary-nav li:first-child a:first-of-type {

  margin-left:0;

}

.tertiary-nav > li span[class^="icon-"], 

.tertiary-nav > li span[class*=" icon-"] {

  margin:0 auto 8px;

  padding:0;

  font-size:24px;

  display:block;

  -webkit-box-shadow:none;

     -moz-box-shadow:none;

          box-shadow:none;

}

/* search box */

.flat-search {

    position: relative;

    margin:0 26px 0 30px;

}

.flat-search input {

    background:#FFF;

    color:#222;

    border-radius:0;

}

.flat-search input.button, 

.flat-search input.button:hover {

        background-color: #4718B6;

        border: 0;

-webkit-box-shadow: 0 0 0;

   -moz-box-shadow: 0 0 0;

        box-shadow: 0 0 0;

}

.nav {

    margin-top: 1em;

}

/* search box */

ul.menu li.active.current > a:before, ul.menu li.active.current > .item:before, ul.menu li.active.current > .separator:before, ul.menu li#current.active > a:before, ul.menu li#current.active > .item:before, ul.menu li#current.active > .separator:before {

    content:"";

}

ul.menu li a:before, ul.menu li .item:before, ul.menu li .separator:before {

    content:none;

    margin-right:0;

    font-size:0;

}

/* End of the menu style */

/* custom right menu */

.sec-menu ul {

    list-style-type: none;

    margin: 0

}

.sec-menu li {

    display:inline;

    float:left;

}

.sec-menu li a {

        font-size: 1.2em;

        margin-left:.5em;

-webkit-text-shadow:0 1px 0 rgba(0, 0, 0, .5);

   -moz-text-shadow:0 1px 0 rgba(0, 0, 0, .5);

     -o-text-shadow:0 1px 0 rgba(0, 0, 0, .5);

        text-shadow:0 1px 0 rgba(0, 0, 0, .5);

}    



/*section-pages style*/

.section-header {

  margin-top: 40px;

  margin-bottom: 70px;

}

.section-title {

  text-transform: capitalize;

}

.site-name {

  font-size:3em;

  font-weight:100;

  margin-bottom:0.5em;

}

.site-name a:hover {

  color:#fff;

}

/* Home page */

.home-page {

    background: url(../images/home-bg.jpg);

    background-size: cover;

}

/*testimonials*/

.box {

overflow: hidden;

margin-bottom: 1em;

height:135px;

position: relative;

padding:10px;

text-align:center;

-webkit-transition: all 0.75s ease;

-moz-transition: all 0.75s ease;

-o-transition: all 0.75s ease;

transition: all 0.75s ease;  

}

.box:hover {

  outline:1px solid #fff;

}

.double-box {

  height: 325px;

  max-height:325px;

  padding:0;

}

.box > a {

  display:block;

  left:0;

  top:0;

  position:absolute;

  right:0;

  bottom:0;
  color:#fff;

}

.box-title {

  position:absolute;

  font-size: 1.5em;

  font-family: "Titillium Web","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;

  text-transform: capitalize;

  width:100%;

  left:0;

  bottom:-10px; 

  -webkit-transition: all .75s ease;

     -moz-transition: all .75s ease;

       -o-transition: all .75s ease;

          transition: all .75s ease;

}
.testimonials .box-title {
  background:#888;
  background:rgba(0, 0, 0, 0.4);
  bottom:-60px;
}
.testimonials:hover .box-title {
  bottom:-10px;
}

 .icon-4x {

  font-size:5em;
  line-height:1.9;
  -webkit-transition: all .2s ease-in;

     -moz-transition: all .2s ease-in;

       -o-transition: all .2s ease-in;

          transition: all .2s ease-in;

}
.box:hover .icon-4x {
  font-size:5.5em;
}
/*Tweets feed*/

.ltOdd {

  background:transparent;

}

div.ltFollowUsLink {

  position: absolute;

  right:0;

  bottom:0;

  padding-top:0;

  padding-bottom: 0

}

.latest-project .k2ItemsBlock {margin:-10px;position:relative;}

.latest-project .k2ItemsBlock .item-info {display:none;}

.latest-project .k2ItemsBlock ul {

  list-style-type: none;

  padding:0;

  margin:0;

} 

.latest-project .k2ItemsBlock li {

  background:none;

  padding:0;

  border-bottom:none;

  text-align: center;

  position: relative;

} 

.latest-project .k2ItemsBlock .moduleItemTitle {

  position:absolute;

  left:0;bottom:48px;

  width:100%;

  background: rgba(255,154,0,0.9);

  font-size:18px;

  padding-top:10px;

  padding-bottom:10px;

  -webkit-transition: all 0.75s ease;

  -moz-transition: all 0.75s ease;

  -o-transition: all 0.75s ease;

  transition: all 0.75s ease;

}

.latest-project:hover .k2ItemsBlock .moduleItemTitle {
  padding-bottom: 58px;

}

.latest-project .k2ItemsBlock ul li .moduleItemIntrotext {

  padding:0;

}

.latest-project .k2ItemsBlock .moduleItemIntrotext .moduleItemImage img {

  margin:0;

  float:none;

  border:none;

}

/* Home page */



/* About page */



/* About page */



/* Team page */

.member {

  padding:15px;

  background:rgba(255,255,255,0.1);

}

.member:hover {

  background:rgba(255,255,255,0.2)

}

/* Team page */



/* Services page */

.service, .about-service {

  padding:15px;

  background: rgba(255,255,255,0.1);

  text-align: center;

  -webkit-transition:.5s 0 all ease;

  -moz-transition:.5s 0 all ease;

  -o-transition:.5s 0 all ease;

  transition:.5s 0 all ease;

}

.service:hover, .about-service:hover {

  background: rgba(255,255,255,0.2);

  }

.icon-container {

  border-radius:50%;

  display: inline-block;

  padding: 10px;

  height: 155px;

  width: 155px;

  text-align: center;

  margin: 0 auto;

}

.icon-container span{

  line-height: 155px;

}

.featured-services {

  margin-bottom: 2em;

}

.featured-services .title {

  text-shadow:none;

  text-transform: capitalize;

}



/* Services page */



/* Portfolio page */

/*styling for this page is in the

rocksprocket/layouts/mosaic/themes/default/mosaic.css

*/

.sprocket-padding {;

}

.sprocket-mosaic-image-container .plus-icon {

  background: #FFF;

  border-radius: 50%;

  height: 40px;

  left: 45%;

  padding: 8px 11px;

  position: absolute;

  top: 45%;

  width: 40px;

  display:none;

  text-align:center;

  line-height:40px;

}

.sprocket-mosaic-head {

  display:none;

  height: 0;

  -o-transition: all 0.2s ease 0.5s;

  -moz-transition: all 0.2s ease 0.5s;

  -webkit-transition: all 0.2s ease 0.5s;

  transition: all 0.2s ease 0.5s;

}

.sprocket-padding:hover .sprocket-mosaic-head {

  text-align: center;

  display: block;

  background:#FF0044;

  height: auto;

  left: 0;

  bottom: 0;

  right: 0;

  position: absolute;

}

.sprocket-mosaic-head h3 {

  margin:0;

  font-size:1.4em;

}

/* Portfolio page */



/* Blog page */

/* k2ItemsBlock */

.k2ItemsBlock.blog ul:before, .k2ItemsBlock.blog ul:after {

display: table;

content: "";

line-height:0;

}

.k2ItemsBlock.blog ul:after {

clear:both;

}

.k2ItemsBlock.blog ul {

  list-style-type:none;

  margin-left: -30px;

  margin-bottom: 0;

}



.k2ItemsBlock.blog ul li {

  -webkit-box-sizing:border-box;

     -moz-box-sizing:border-box;

       -o-box-sizing:border-box;

          box-sizing:border-box;

          float:left;

          min-height:1px;

          margin-left: 20px;

          margin-bottom:2em;

          border-bottom:none;

          position: relative;

          width: 300px;

}

.k2Avatar img {

  border:none;

  background:none;

  border-radius:50%;

}

.k2ItemsBlock.blog .moduleItemAuthor, .k2ItemsBlock.blog .moduleItemComments {

  display:none;

  visibility: hidden;

  line-height:0;

  font-size:0;

  width:0;

  height:0;

}

.moduleItemIntroImage {

  overflow:hidden;

  margin:-20px -2px 0;

  border-top:3px solid #F2B33B;

}

div.k2ItemsBlock.blog ul li div.moduleItemIntrotext a.moduleItemImage img {

  border:none;

  margin:0;

  display:block;

  transition: all .5s cubic-bezier(1.000,-0.410,0.840,1.015) 0s;

}

div.k2ItemsBlock.blog ul li div.moduleItemIntrotext a.moduleItemImage img:hover {

  -webkit-transform: scale(1.3);

  transform: scale(1.3);

}

.more-link {

  text-align: center;

  margin-bottom: 30px

}

.more-link .moduleCustomLink {

  padding: 10px 136px;

  background: #FFF;

  display: inline-block;

  background: rgba(255,255,255,.3);

}

div.itemToolbar {

  border-top:none;

  border-bottom:none;

}

div.itemContentFooter {

  margin-top:2em;

}

.k2ItemsBlock.blog ul li, 

div.itemAuthorLatest ul li.even, 

div.itemNavigation, 

div.itemComments, 

div.itemAuthorBlock, 

div.itemToolbar, 

div.itemCommentsForm form input#submitCommentButton, 

div.itemListCategory,

div.userBlock {

  background-color:#5ea0e3;

  background-color:rgba(255, 255, 255, 0.15);

}

div.itemAuthorLatest ul li.odd, 

div.k2ItemsBlock.blog ul li:hover {

  background-color:#84b6e9;

  background-color:rgba(255, 255, 255, 0.35);

}

div.k2ItemsBlock.blog ul li {

  padding-top:1em;

  position:relative;

}  

div.itemAuthorBlock {

  border: none;

}

div.itemAuthorLatest ul {

list-style-type:none;

margin-left:0;

}

div.itemAuthorLatest ul li {

background:none;

border-bottom:none;

padding:0.5em 1em;

}

div.itemComments {

border: none;

}

div.itemCommentsForm form input#submitCommentButton {

  border:none;

  border-radius :0;

}

div.itemCommentsForm form span#formLog {

  color:#da542c;

  font-weight:normal;



}

div.itemListCategory {

border:none;

}

/* per user style */

div.userBlock {

  border:none;

}

span.userItemImage img, span.itemImage img {

  border:none;

}

div.itemImageBlock {

  padding:0;

  margin:0;

}

span.itemImage {

  margin:0;

}

span.itemImage img {

  padding:0;

}

div.k2ItemsBlock ul li a.moduleItemTitle {

  font-size: 1.5em;

  display:block;

  padding-top:.5em;

  padding-bottom:18px;

}

.k2ItemsBlock {

  position: relative;

}

.pub-date {

  position:absolute;

  left:0;

  top:4px;

  width:46px;

  background-color: #00A0B1;

  text-align: center;

  border-top: 2px solid #fff;

}

.pub-date:before {

  content:" ";

  position:absolute;

  left:0;

  top:-6px;

  width:100%;

  height:4px;

  border-top: 4px  solid #00737f;

}

.avatar-pic {

  position: absolute;

  top:135px;

  left:4px;

  z-index:5;

}

.moduleItemDateCreated {

  text-shadow:1px 1px 0 #444;

}

.moduleItemDateCreated .day {

font-size:1.4em;

  }

.category-name   {

  display:block;

  margin:1em -2px  -2px;

  padding:0.5em 0.5em 0.5em .75em;

  background-color:rgba(0,115,127,0.75);

}
.category-name a:hover {

  color:#DC572E ;

}
.latest-project .category-name {
  position:absolute;
  left:0;
  bottom:0;
  width:100%;
  background: rgba(0,0,0,0.4);
} 
.latest-project:hover .category-name {
bottom:50px;
}

/* per user style */

/* Blog page */
/* Contact page */
div#b2jcontainer_m130.b2jcontainer {
  background: none;
  border: none;
  color: #FFF;
}
div#b2jcontainer_m130 .required, 
div#b2jcontainer_m130 .asterisk {
  color:yellow;
  margin-left: 0.5em;
}
div#b2jcontainer_m130 .b2j_form input[type="text"], 
div#b2jcontainer_m130 .b2j_form textarea {
background: #888;
background: rgba(0, 0, 0, 0.15);
border:none;
color:#fff;
width:80%;
}
div#b2jcontainer_m130 .b2j_form input[type="text"]:hover, 
div#b2jcontainer_m130 .b2j_form textarea:hover, 
div#b2jcontainer_m130 .b2j_form input[type="text"]:focus, 
div#b2jcontainer_m130 .b2j_form textarea:focus {
background: #AAA;
box-shadow: 0 0 5px #AAA;
background: rgba(255, 255, 255, 0.15);
border: none;
outline: none;
}
div#b2jcontainer_m130 .b2j_form input[type="text"]:hover, 
div#b2jcontainer_m130 .b2j_form textarea:hover, 
div#b2jcontainer_m130 .b2j_form input[type="text"]:focus, 
div#b2jcontainer_m130 .b2j_form textarea:focus {
background: #AAA;
  background: rgba(255, 255, 255, 0.15);
  border: none;
  outline: none;
  -webkit-box-shadow: 0 0 5px #AAA;
          box-shadow: 0 0 5px #AAA;
}
div#b2jcontainer_m130 .btn {
  background: #666;
  background: rgba(0, 0, 0, 0.3);
  color: #FFF;
}
/* End of Contact page  */
/* search results */

/* End of search results */
/*End of the page section style*/
@media (min-width: 1200px) {
.k2ItemsBlock.blog ul li {
  float:left;
  min-height:1px;
  margin-left: 30px;
  width:370px;  
}
}
@media only screen and (min-width: 980px) and (max-width: 1199px) {
.box {
  height:116px;
}
.double-box {
  height:300px;
}
.twitter-timeline, .testimonials {
  font-size:0.75em;
}
}
@media (max-width: 979px) and (min-width: 768px) {
  blockquote {
    border-left:none;
    margin: 0;
  }
  blockquote, 
  blockquote p {
    font-size: 0.8em;
    line-height: 1.6;
  }
.twitter-timeline {
  font-size:0.8em;
}
div.ltBlock ul.ltBlockList li {
  border-bottom:none;
}
div.ltFollowUsLink {
  border-top:1px dotted #fff;
}    
.box {
  height:80px;
}
.icon-4x {
  font-size:3.5em;
  line-height:2em;
}
.double-box {
  height:228px;
}
.k2ItemsBlock.blog ul li {
  width:228px;
}
  div.ltFollowUsLink {
    display:none;
  }
  .row {
    margin-left: -20px
  }  
}
@media (max-width:767px) {
  .row {
    margin-left:0;
  }
  .row .thumbnails {
    margin-left: 0;
  }
  .vertical-menu {
    overflow-y: scroll;
  }
  .icon-4x {
    font-size:6em;
    line-height:2em;
  }
  .k2ItemsBlock.blog ul {
    margin-left:0;
  }
  .k2ItemsBlock.blog ul li {
    float:none;
    display:block;
    width:100%;
    margin-left: 0;
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
            box-sizing:border-box;
  }
 div.k2ItemsBlock.blog ul li div.moduleItemIntrotext a.moduleItemImage img {
  float:left;
  margin:0 1em 1em 0;
 } 
  .page-section {
    -webkit-box-sizing:border-box;
       -moz-box-sizing:border-box;
         -o-box-sizing:border-box;
            box-sizing:border-box;
            padding:0 1em;
  }
  .itemImage .modal {
    position:static;
  }
  div.ltFollowUsLink {
    display:none;
  }  
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .rt-container [class*="rt-grid"] {position: static;}
    div.k2ItemsBlock.blog ul li div.moduleItemIntrotext a.moduleItemImage img {
      float:none;
      margin-left:auto;
      margin-right:auto;
    }
}
@media (max-width: 479px) {
  .double-box {
    height:280px;
    max-height: 280px;
    }
    .sprocket-mosaic {
      margin-left: 0;
    }
    .avatar-pic {
      left:8px;
      top:141px;
    }
}

.ray-m-top{
  height:30px;
  width: 100%;
  background-color:white;
}

.ray-m-top-left{
  height:30px;
  width: 75%;
  float: left;
  background-color:#e1e1e1;
  color: black;
  font-size: 14px;
  text-align: center;;
  line-height: 35px;
}

.ray-m-top-right{
  height:30px;
  width: 20%;
  float: right;
  background-color:#e1e1e1;
  color: black;
  font-size: 14px;
  text-align: center;;
  line-height: 35px;
}

.clear-ray{
  clear: both;
}

.ray-room-top{
  height:150px;
  width: 100%;
  background-color:white;
}

.ray-room-note{
  height:40px;
  width: 100%;
  background-color:#e1e1e1;
  text-align: center;
  color: black;
  font-size: 18px;
  line-height: 35px;
  border: solid 1px #e1e1e1;
  font-weight: bold;
}

.videoBox{
width:95%;
margin-left: 20px;
margin-right: -60px;
background-color: white;
height:350px;
}

.videoBoxLeft{
width:95%;
margin-left: 20px;
margin-right: -60px;
background-color: white;
height:150px;
}

.blinkRay{
  text-decoration: blink;
  color:red;
}
.door{
  width:50px;
  //background-color: black;
  background-image: url(../images/door.png);
  padding: 10px;
  height: 110px;
  margin-left: 10px;
  float: left;
  border: solid 3px #e1e1e1;
  margin-top: 8px;
  line-height: 100px;
  cursor: pointer;
}
.door :hover{
  cursor:crosshair;
  background-color: red;
}
