/*
   component.css
   <Flat Metro Theme>
   
   Created by Rachid on 2013-09-04.
   Copyright 2013 Rachid. All rights reserved.
   www.webdevia.com

========= Color Swatch ==========
Red:            #AC193D  #BF1E4B
Orange:         #D24726  #DC572E
Purple:         #8C0095  #A700AE
Dark Purple:    #5133AB  #643EBF
Teal:           #008299  #00A0B1
Green:          #008A00  #00A600
Blue:           #2672EC  #2E8DEF
Sky Blue:       #094AB2  #0A5BC4
TURQUOISE: #1ABC9C
GREEN SEA: #16A085
EMERALD: #2ECC71
NEPHRITIS: #27AE60
PETER RIVER: #3498DB
BELIZE HOLE: #2980B9
AMETHYST: #9B59B6
WISTERIA: #8E44AD
WET ASPHALT: #34495E
MIDNIGHT BLUE: #2C3E50
SUN FLOWER: #F1C40F
ORANGE: #F39C12
CARROT: #E67E22
PUMPKIN: #D35400
ALIZARIN: #E74C3C
POMEGRANATE: #C0392B
CLOUDS: #ECF0F1
SILVER: #BDC3C7
CONCRETE: #95A5A6
ASBESTOS: #7F8C8D
*/
.turquoise {background-color:#1ABC9C;}
.green-sea {background-color:#16A085;}
.emerald {background-color:#2ECC71;}
.nephritis {background-color:#27AE60;}
.peter-river {background-color:#3498DB;}
.belize-hole {background-color:#2980B9;}
.amethyst {background-color:#9B59B6;}
.wisteria {background-color:#8E44AD;}
.wet-asphalt {background-color:#34495E;}
.midnight-blue {background-color:#2C3E50;}
.sun-flower {background-color:#F1C40F;}
.orange {background-color:#F39C12;}
//.carrot {background-color:#E67E22; black}
.carrot{background-image:url(../images/bgb.jpg)}
.pumpkin {background-color:#D35400;}
.alizarin {background-color:#E74C3C;}
.pomegranate {background-color:#C0392B;}
.clouds {background-color:#ECF0F1;}
.silver {background-color:#BDC3C7;}
.concrete {background-color:#95A5A6;}
.asbestos {background-color:#7F8C8D;}
.red {
  background: #ac193d; /* Old browsers */
  background: -moz-linear-gradient(left,  #ac193d 0%, #bf1e4b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ac193d), color-stop(100%,#bf1e4b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #ac193d 0%,#bf1e4b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #ac193d 0%,#bf1e4b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #ac193d 0%,#bf1e4b 100%); /* IE10+ */
  background: linear-gradient(to right,  #ac193d 0%,#bf1e4b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ac193d', endColorstr='#bf1e4b',GradientType=1 ); /* IE6-9 */
    }
.purple {
  background: #8c0095; /* Old browsers */
  background: -moz-linear-gradient(left,  #8c0095 0%, #a700ae 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#8c0095), color-stop(100%,#a700ae)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #8c0095 0%,#a700ae 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #8c0095 0%,#a700ae 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #8c0095 0%,#a700ae 100%); /* IE10+ */
  background: linear-gradient(to right,  #8c0095 0%,#a700ae 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c0095', endColorstr='#a700ae',GradientType=1 ); /* IE6-9 */

}
.dark-purple {
  background: #5133ab; /* Old browsers */
  background: -moz-linear-gradient(left,  #5133ab 0%, #643ebf 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5133ab), color-stop(100%,#643ebf)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #5133ab 0%,#643ebf 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #5133ab 0%,#643ebf 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #5133ab 0%,#643ebf 100%); /* IE10+ */
  background: linear-gradient(to right,  #5133ab 0%,#643ebf 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5133ab', endColorstr='#643ebf',GradientType=1 ); /* IE6-9 */
}
.teal {
  background: #008299; /* Old browsers */
  background: -moz-linear-gradient(left,  #008299 0%, #00a0b1 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#008299), color-stop(100%,#00a0b1)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #008299 0%,#00a0b1 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #008299 0%,#00a0b1 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #008299 0%,#00a0b1 100%); /* IE10+ */
  background: linear-gradient(to right,  #008299 0%,#00a0b1 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008299', endColorstr='#00a0b1',GradientType=1 ); /* IE6-9 */
}
.green {
  background: #008A00; /* Old browsers */
  background: -moz-linear-gradient(left,  #008A00 0%, #00a600 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#008A00), color-stop(100%,#00a600)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #008A00 0%,#00a600 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #008A00 0%,#00a600 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #008A00 0%,#00a600 100%); /* IE10+ */
  background: linear-gradient(to right,  #008A00 0%,#00a600 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008A00', endColorstr='#00a600',GradientType=1 ); /* IE6-9 */
}
.blue {
  background: #2672EC; /* Old browsers */
  background: -moz-linear-gradient(left,  #2672EC 0%, #2e8def 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#2672EC), color-stop(100%,#2e8def)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #2672EC 0%,#2e8def 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #2672EC 0%,#2e8def 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #2672EC 0%,#2e8def 100%); /* IE10+ */
  background: linear-gradient(to right,  #2672EC 0%,#2e8def 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2672EC', endColorstr='#2e8def',GradientType=1 ); /* IE6-9 */

}
.blue-sky {
  background: #094ab2; /* Old browsers */
  background: -moz-linear-gradient(left,  #094ab2 0%, #0a56be 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#094ab2), color-stop(100%,#0a56be)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #094ab2 0%,#0a56be 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #094ab2 0%,#0a56be 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #094ab2 0%,#0a56be 100%); /* IE10+ */
  background: linear-gradient(to right,  #094ab2 0%,#0a56be 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#094ab2', endColorstr='#0a56be',GradientType=1 ); /* IE6-9 */
}  
.facebook-blue {
  background-color: #296BCD;
}
.twitter-blue {
  background-color: #1BA1E2
}
/* Color boxes */