/**
 * @author    RocketTheme http://www.rockettheme.com
 * @copyright Copyright (C) 2007 - 2013 RocketTheme, LLC
 * @license   http://www.gnu.org/licenses/gpl-2.0.html GNU/GPLv2 only
 */
/* Features - Layout Showcase - Core */
.layout-showcase {left: 0;top: 0;position: absolute;width: 100%;height: 100%;}
.layout-showcase:after {display: table;content: "";*zoom: 1;clear: both;}
.layout-showcase ul {list-style: none !important;margin: 0;padding: 0;}

/* Features - Layout Showcase - Content */
.pagination-active {margin-bottom: 35px;}
.layout-showcase .sprocket-features-list {position: relative;overflow: hidden;padding: 0 !important;}
.layout-showcase .sprocket-features-list li {position: absolute;top: 0;left: 0;opacity: 0;width: 100%;height: 100%;display: none;}
.layout-showcase .sprocket-features-list li.active {position: static;height: auto;opacity: 1;display: block;}
.arrows-active .sprocket-features-list {margin-left: 0;margin-right: 0;}
.layout-showcase .sprocket-features-img-container img {margin-right: 0}
.sprocket-features-desc {display:none;height:0;width:0;padding: 0;margin:0;}
.sprocket-features-title {
	position:absolute;
	left:0;
	bottom:-60px;
	width:100%;
	margin-top:0;
	margin-bottom:0;
	background:#888;
	background: rgba(0, 0, 0, 0.4);
	font-size: 18px;
	font-family: "Titillium Web","Helvetica Neue","Helvetica",Arial,Verdana,sans-serif;
	text-transform: capitalize;
}
.box:hover .sprocket-features-title {bottom:45px;}
/* Features - Layout Showcase - Navigation */
.layout-showcase .sprocket-features-arrows .arrow {position: absolute;display: block;width: 40px;height: 40px;top: 50%;margin-top: -20px;border-radius: 0;opacity: 0.5;cursor: pointer;z-index: 10;text-align: center;font-size: 2.2em;line-height: 30px;}
.layout-showcase .sprocket-features-arrows .prev {left: 0;}
.layout-showcase .sprocket-features-arrows .next {right: 0;}
.layout-showcase .sprocket-features-arrows .arrow:hover {opacity: 1;}
.arrows-onhover .sprocket-features-arrows .arrow {opacity: 0;}
.sprocket-features.arrows-onhover:hover .sprocket-features-arrows .arrow {opacity: 1;}
.layout-showcase .sprocket-features-pagination {position: absolute;left: 50px;bottom: 15px;z-index: 10;padding: 0 !important;}
.layout-showcase .sprocket-features-pagination-hidden {display: none;}
.layout-showcase .sprocket-features-pagination li {display: inline-block;padding: 4px;opacity: 0.4;border-radius: 1em;cursor: pointer;}
.layout-showcase .sprocket-features-pagination li.active {opacity: 1;}
.layout-showcase .sprocket-features-pagination li span {display: none;font-size: 0.85em;line-height: 1em;}
.pagination-active .sprocket-features-pagination {bottom: -30px;}

/* Features - Layout Showcase - Colors */
.layout-showcase .sprocket-features-pagination li, 
.layout-showcase .sprocket-features-arrows .arrow {
	background: #000;
	background:rgba(0, 0, 0, 0.4);
	color: #fff;
	-webkit-box-shadow: none;
	   -moz-box-shadow: none;
			box-shadow: none;
}

/* Features - Layout Showcase - Transitions */
.layout-showcase .sprocket-features-pagination li, .layout-showcase .sprocket-features-arrows .arrow {-webkit-transition: opacity 0.2s ease-in;-moz-transition: opacity 0.2s ease-in;-o-transition: opacity 0.2s ease-in;transition: opacity 0.2s ease-in;}
