.header{
width:90%;
margin:auto;
height:100px;
margin-top:10px;
}


.ee{
	font-size: 14px;
}
.body{
margin:0px;
background-color:#eee;
}
h1 {font-family:"Trebuchet MS",Arial,Helvetica,sans-serif;font-size:55px;line-height:1em;color:brown;text-transform:uppercase;font-weight:normal;letter-spacing:-2px}

.logo{
width:500px;
float:left;
}

.logo2{
width:300px;
float:right;
}

.banner{
width:90%;
margin:auto;
height:250px;
//background-color:#000000;
background-image:url(images/slide2.jpg);
border:solid 1px #999999;

}

.banner2{
width:900px;
margin:auto;
height:250px;
//background-color:#000000;
background-image:url(images/slide2.jpg);
border:solid 1px #999999;

}

.login{
width:900px;
margin:auto;
height:350px;
border:solid 1px #CECF81;
margin-top:3px;
background-image:url(../images/body-bg.gif)
}

.login_left{
width:400px;
float:left;
height:250px;
margin-left:20px;
margin-top:20px;
border:solid 1px #999999;
background-color:#FFF;
}

.login_right{
width:400px;
float:right;
height:250px;
margin-right:20px;
margin-top:20px;
border:solid 1px #999999;
background-color:#FFF;
}

.clear{
clear:both;
}

.index_right{
border:solid 1px #999999;
height:220px;
width:350px;
margin-top:20px;
margin-left:20px

}

.menu{
width:90%;
margin:auto;
background-image:url(images/menuBackgrd.jpg);
height:30px;
}

.container{
width:90%;
margin:auto;
height:auto;
border:solid 1px #CECF81;
margin-top:5px;
}

.container_left{
width:200px;
height:400px;
float:left;
border:solid 1px #eee;
margin-left:20px;
margin-top:20px;
margin-bottom:20px;
}

.container_right{
width:76%;
height:auto;
float:right;
border:solid 1px #CECF81;
margin-right:20px;
margin-top:20px;

}

.messaging{
height:250px;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #CECF81;

}

.newsletter{
height:150px;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #CECF81;
border-radius:9px;
}

.alert{
height:80px;
margin-left:10px;
margin-right:10px;
margin-top:10px;
border:solid 1px #CECF81;
border-radius:9px;
}

.list{
margin-top:10px;
margin-left:5px;
}

ul li{
padding:3px;
font-family:Arial;
font-size:14px;
margin-left:-15px;
list-style:square;
color: #003300;
}

ul li a{
text-decoration:none;
color:#000000
}

ul li a:hover{
color:#006600;
text-decoration:underline;
}

.field{padding:2px; border:1px solid #666666; width:200px; color:black; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px;  }

#category_name{padding:2px; border:1px solid #666666; width:200px; color:black; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px;  }


.field_small{padding:2px; border:1px solid #666666; width:60px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; }

.field2{padding:2px; border:1px solid #666666; width:90px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; }

.field3{padding:2px; border:1px solid #666666; width:50px; color:#333333; font-size:14px; margin-top:3px; font-weight:900;background-color:#ffffff; height:25px; }

.mybutton{ width: 200px; height: 35px; background-color:#900 ; padding:5px 3px 5px 3px; border:none; border:1px #333333; cursor:pointer; margin-top:4px; color:#fff; border-radius: 8px 8px 8px 8px;}

.mybuttonz{ width: 100px; background-color:red ; padding:5px 3px 5px 3px; border:none; border:1px #333333; cursor:pointer; margin-top:2px; color:#fff; border-radius: 8px 8px 8px 8px;}

.mybutton2{ width:120px; background-color:#900 ; padding:5px 3px 5px 3px; border:none; border:1px #333333; cursor:pointer; margin-top:4px; color:#fff; border-radius: 8px 8px 8px 8px; padding:10px;}

.mybutton3{ width:120px; background-color:green ; padding:5px 3px 5px 3px; border:none; border:1px #333333; cursor:pointer; margin-top:4px; color:#fff; border-radius: 8px 8px 8px 8px; padding:10px;}

.c{color:black; font: normal 14px Arial, Helvetica, sans-serif;}

#searchbox1
{
	background: #eaf8fc;
	background-image: -moz-linear-gradient(#fff, #d4e8ec);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #d4e8ec),color-stop(1, #fff));
	
	-moz-border-radius: 35px;
	border-radius: 35px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;            
	width: 500px;
	height: 35px;
	padding: 10px;
	margin: 100px auto 50px;
	overflow: hidden; /* Clear floats */
}

#search, #submit
{
	float: left;
}

#search
{
	padding: 5px 9px;
	height: 23px;
	width: 380px;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	
	-moz-border-radius: 50px 3px 3px 50px;
	 border-radius: 50px 3px 3px 50px;
	 -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);            
}

#submit
{		
	background: #6cbb6b;
	background-image: -moz-linear-gradient(#95d788, #6cbb6b);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
	
	-moz-border-radius: 50px 50px 50px 50px;
	border-radius: 50px 50px 50px 50px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 40px;
	margin: 0 0 0 10px;
        padding: 0;
	width: 120px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}


#submitzz
{		
	background:red;
	background-image: -moz-linear-gradient(#95d788, #6cbb6b);
	background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6cbb6b),color-stop(1, #95d788));
	
	-moz-border-radius: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	
	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;
	
	 -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;
	 box-shadow: 0 0 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.3) inset;   		

	height: 40px;
	margin: 0 0 0 10px;
        padding: 0;
	width: 120px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #23441e;
	
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}


